@font-face {
    font-family: "Lato Light";
    src: url("../../../assets/fonts/Lato-Light.ttf");
};
@font-face {
    font-family: "Lato Medium";
    src: url("../../../assets/fonts/Lato-Medium.ttf");
};
@font-face {
    font-family: "Pattaya";
    src: url("../../../assets/fonts/Pattaya-Regular.ttf");
};


$primary-color:black;
h1,h2,h3,h4,h5,h6,a,p,br,li {
    &::selection {
      background-color: black;
      color: white;
    }
  }
body{
    overflow-x: hidden;
    header{
        margin-bottom: 8rem !important;
        .navbar{
            position: absolute;
            z-index:600;
            top:0;
            right:0;
            left:0;
            padding: 0 !important;
            .navbar-brand{
                position: absolute;
                z-index: 400;
                left:0;
                top:0;
                font-family: "Pattaya";
                font-size: 34px;
                color:black;
                margin-left: 80px;
                font-weight: 600;
                padding-top: 0 !important;
            }
            span{
                display: none !important;
                position: absolute;
                right:35px;
                top:20px;
                i{
                    font-size: 22px;
                }
            }
            .li-closed{
                display:block;
            }
            .li-clicked{
                display:none;
            }
            .navbar-collapse{
                .navbar-nav{
                    margin-right: 50px !important;
                    .nav-item{
                        text-transform: uppercase;
                        font-size: 14px;
                        .nav-link{
                            font-family: "Lato light" !important;
                            font-weight: 600 !important;
                            color:black;
                            position: relative;
                            padding-top: 15px;
                        }
                        .hov{
                            &::before{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                bottom: 5px;
                                left: 0;
                                background-color: $primary-color;
                                visibility: hidden;
                                transform: scaleX(0);
                                transition: all 0.2s ease-in-out 0s;
                              }
                              &:hover::before{
                                visibility: visible;
                                transform: scaleX(1);
                              }
                        }
                        .spec{
                            color:white;
                            background-color:$primary-color;
                            margin-top:0px;
                            padding: 6px 20px; 
                            padding-top: 15px !important;
                        }
                    }
                }
            }
            .menutoggled{
                right:0 !important;
                transition: right 0.5s;
            }
            .menuclosed{
                right:-20rem !important;
                transition: right 0.5s;
            }
            .plash{
                height: 267vh;
                width: 100vw; 
                position: absolute;
                z-index:-6000;
                right:200px;
            }
            #togglemenu{
                margin: 0;
                padding: 0;
                position: fixed;
                z-index: 800;
                right:-20rem;
                top: 0;
                width: 200px;
                height:100vh;
                .container{
                    padding: 0;
                    background-color:black;
                    height:100vh;
                    ul{
                        padding-left:0; 
                        list-style-type: none;
                        li{
                            a{
                                text-decoration: none;
                                color: white;
                                display: block;
                                padding: 18px 30px;
                                &:hover{
                                    color:black;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }

    main{
        position: relative;
        z-index: 500;
        .name{
            flex:2;
            h1{
                font-family: "Lato Medium";
                font-size: 50px;
            }
        }
        .redaction{
            flex:3;
            p{
                font-family: "Lato Light";
                font-weight: 600;
            }
        }
    }
    footer{
        margin-top: 5rem;
        background-color: $primary-color;
        .single-row{
            padding-top: 2rem;
            padding-bottom: 1rem;

            .logo{
                a{
                    font-family: "Pattaya";
                    font-size: 34px;
                    color:white;
                    text-decoration: none !important;
                }
            }
            .redaction{
                color: white;
                font-family: "Lato Medium";
            }
            .reseaux{
                a{
                    position: relative;
                    z-index: 800;
                    color:white;
                    font-size: 24px;
                    margin: 0px 10px;
                }
            }
            .copyrights{
                color:white;
                a{
                    text-decoration: none;
                    color:white;
                }
            }
        }
    }
}